*{
    margin: 0%;
    padding: 0%;
}
.firstcon{
    background-color: rgb(26, 25, 25);
    display: flex;
    padding: 5px;
 
}
.git{
    margin-bottom: 12px;
    padding-left: 15px;
}
.searchbox{
    margin: 12px;
    margin-top: 12p;
    margin-left: 20px;
  
}

.jumpto{
    background-color:rgb(26, 25, 25);
    border-radius: 5px;
    border-top-width: 2px;
    border-bottom-width: 3px;
    border-color: rgb(37, 36, 36);;
    height: 30px;
    width: 300px;
    position: relative;
    color: white;
    /* outline:  blue; */
    bottom: 30%;
}
.searchpanel{
    z-index: 7;
    margin-top: 5px;
    position: relative;
    left: 92%;
    top: 19%;
   
}
.links{
    display: flex;
  margin-top: 1%;
}

.links
a:link, a:visited {
text-decoration: none;
color: white;
font-weight: bolder;
}
.link1{
    margin: 10px;
    width: 90px;
}
.link{
    margin: 10px;
}

.lastend{
    display: flex;
    margin-top: 20px;
    margin-left: 52%;
}
.pic{
    border-radius: 250%;
    margin-top: -1%;
}
.iconlast{
    padding-left: 7px;
    margin-bottom: 30%;
    padding-right: 15px
}
nav{
    position: fixed;
    top: 96px;
    display: flex;
    padding-top: 2%;
    /* padding-bottom: 1%; */
    padding-left: 50%;
    padding-right: 50%;
    box-shadow: 1px 2px 4px rgba(73, 68, 68, 0.434);
    
    
    
}
.over{
    margin-right: 30%;
    position: relative;
    right: 100%;
}
.over
a:visited {
color: black;
}
.over
a:link{
text-decoration: none;
}

.repo{
    position: relative;
    right: 100%;
  
 
}
.repo{
    border-bottom: 4px solid orange;
    padding-bottom: 12px;
  
}
.repo
a:visited {
    
color: black;
}
.repo
a:link{
    font-weight: bolder;
text-decoration: none;   

}
.project{
    position: relative;
    right: 70%;
}
.project
a:visited {
    
color: black;
}
.project
a:link{
text-decoration: none;
}
.pack{
    margin-left: 20%;
    position: relative;
    right: 60%;
}
.pack
a:visited {
    
color: black;
}
.pack
a:link{
text-decoration: none;
}
.smallbook{
    position: absolute;
    left: -40%;
    top: 2px;
}
.repos{
    position: absolute;
    left: -30%;
    top: 2px;     
}
.projs{
    position: absolute;
    left: -45%;
    top: 2px; 
}
.package{
    position: absolute;
    left: -45%;
    top: 2px; 
}
.no{
    background-color: rgb(209, 201, 201);
    margin-left: 6%;
    padding: 4%;
    border-radius: 12px;
}
.mypic{
    border-radius: 400%;
    position: absolute;
    left: 16%;
    border: 3px solid rgb(236, 230, 230);
    top: 12%;
}
.emoji{
   position: relative;
   top: 2px;
}
.cool{
    background-color: white;
    position: relative;
    border-radius: 20px;
    padding: 7px;
    border: 3px solid rgb(236, 230, 230);
    top: 254px;
    left: 28%;
}
.mac{
    position: relative;
    font-size: 25px;
    top: 310px;
    left: 16%;
    color: rgb(95, 92, 92);
}
#profile{
    position: relative;
    /* font-size: 25px; */
    top: 322px;
    left: 16%;
    padding: 10px;
    width: 16%;
    background-color: white;
    border-radius: 7px;
    border: 2px solid rgb(236, 230, 230);
}
.follow{
    position: relative;
    /* font-size: 25px; */
    top: 340px;
    left: 16%;
    width: 16%;
    border-bottom: 1px solid rgb(226, 219, 219);
    padding-bottom: 35px;
}
.group{
    position: relative;
    top: 2px;
}
.group1{
    position: relative;
    top: 3px;
}
.follower{
    cursor: pointer;
    color: gray;
}
.org{
    position: relative;
    font-size: 18px;
    top: 360px;
    left: 16%;
    width: 16%;
}
.orgpic{
    position: relative;
    font-size: 18px;
    top: 418px;
    left: 10%;
    border-radius: 5px;
}
.repoinput{
    background-color: white;
    border-radius: 7px;
    border: 2px solid rgb(236, 230, 230);
    position: relative;
    left: 34%;
    width: 17%;
    padding: 7px;
    padding-left: 1%;
    padding-right: 17%;
    top: -80px;
}
.buttons{
    display: flex;
}
.buttonfirst{
    cursor: pointer;
    background-color: white;
    border: 2px solid rgb(236, 230, 230);
    height: 40px;
    border-radius: 5px;
    width: 120px;
    position: relative;
    left: 70%;
    bottom: 118px;
    padding-bottom: 10px;
    padding-left: 1%;
    padding-right: 1%;
}
.butsty{
    color: rgb(156, 155, 155);
    position: relative;
    bottom: 3px;
}
.all{
    position: relative;
    bottom: 2px;
}
.caretagain{
margin-top: 15%;
position: relative;
    left: 7%;
}
.buttonfirst2{
    cursor: pointer;
    margin-left: 10px;
    background-color: white;
    border: 2px solid rgb(236, 230, 230);
    height: 40px;
    border-radius: 5px;
    width: 150px;
    position: relative;
    left: 70%;
    bottom: 118px;
    padding-left: 1%;
    padding-right: 1%;
}
.butsty2{
    color: rgb(156, 155, 155);
    position: relative;
    top: -2px;
}
.caretagain2{
    position: relative;
    left: 3%;
    top: 1px;
    
}

.buttonfirst3{
    margin-left: 20px;
    background-color: rgb(23, 184, 23);
    border: 2px solid rgb(236, 230, 230);
    height: 40px;
    border-radius: 5px;
    width: 100px;
    position: relative;
    left: 70%;
    bottom: 118px;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
}
.butsty3{
    color: white;
    position: relative;
    margin-left: 10px;
    bottom: 3px;
}
.repositories{
    border-top: 1px solid rgb(226, 219, 219);
    width: 58%;
    position: absolute;
    left: 34%;
    top: 25%
}
.copyofreg{
    background-color: white;
    height: 40px;
    width: 7%;
    border: 2px solid rgb(236, 230, 230);
    border-radius: 5px;
    position: relative;
    left: 87%;
}
.theu{
    font-size: 30px;
    position: relative;
    top: 25px;
    color: rgb(14, 14, 240);
}
.underu{
    position: relative;
    left: 34%;
    padding-bottom: 4%;
    width: 58%;
    border-bottom: 1px solid rgb(226, 219, 219);
}
.tomato{
    background-color: tomato;
    padding: 3px;
    padding-right: 11px;
    padding-left: 11px;
    border-radius:100%;
}
.html{
    color: gray;
    margin-left: 9px;
}
.star2{
    color: gray;
    margin-left: 17px;
}
.starimage{
    position: relative;
    top: 3px;
}
.updated{
    color: gray;
    margin-left: 1%;
}
.line{
    background-color: green;
    width: 38%;
}